.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #61dafb;
  color: #282c34;
}

h1,
h2 {
  color: #61dafb;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #551A8B;
}

li {
  margin: 5px 0;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
}

/* App.css */
.button-light-yellow {
  background-color: #FFFFE0;
  /* 浅黄色 */
  color: #333;
  /* 文字颜色，确保对比度 */
  border: 1px solid #ccc;
  /* 边框颜色 */
  padding: 10px 20px;
  /* 内边距 */
  border-radius: 4px;
  /* 圆角 */
  cursor: pointer;
  /* 鼠标悬停时显示手型 */
  font-size: 16px;
  /* 字体大小 */
  font-weight: bold;
  /* 字体粗细 */
  transition: background-color 0.3s;
  /* 背景颜色渐变效果 */
  /* margin: 0px 20px; */
}

.button-light-yellow:hover {
  background-color: #FFFFB3;
  /* 鼠标悬停时变色 */
}

.voting-details {
  max-width: 760px;
  /* Adjust as needed */
  margin: 0 auto;
  /* Center align */
  padding: 20px;
  /* Add some padding */
  border: 1px solid #ccc;
  /* Add border */
  border-radius: 8px;
  /* Rounded corners */
  background-color: #f9f9f9;
  /* Light background color */
}

.voting-details .description {
  word-wrap: break-word;
  /* Break long words */
  overflow: hidden;
  /* Hide overflow */
  text-align: justify;
  /* Justify text */
  margin-bottom: 10px;
  /* Space below description */
}

.proposal-description {
  margin: 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.proposal-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2b2a2a;
}

.proposal-content p {
  text-align: left;
  margin: 5px 0;
  line-height: 1.4;
  color: #786464;
  font-style: italic;
}

.proposal-content p strong {
  font-weight: bold;
  color: #342c2c;
}


/* General container style */
.container {
  width: 800px;
  margin: 0 auto;
}

/* Flexbox for layout */
.info-section {
  display: flex;
  justify-content: space-between;
  /* 在子元素之间分配剩余空间 */
  width: 800px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.info-group {
  width: 380px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  padding: 0 15px 0 15px;
  border: 1px solid #ddd;
  color: rgb(51, 46, 46);
  /* Optional: Add a border */
  border-radius: 5px;
  /* Each section takes up roughly half of the container width */
}

/* Voting information section */
.voting-info {
  position: relative;
  width: 800px;
  /* Full width of the container */
  padding: 20px;
  border: 1px solid #ddd;
  /* Optional: Add a border */
  border-radius: 5px;
  box-sizing: border-box;
  /* Optional: Add border radius for rounded corners */
  /* background-color: #f9f9f9; */
  /* Optional: Add a background color */
}

.voting-info h2 {
  margin-top: 0;
  /* Remove top margin from header */
}

.voting-columns {
  display: flex;
  /* Create a flex container */
  justify-content: space-between;
  /* Space out the columns */
  width: 760px;
  /* Set the total width */
  margin: 10px 0px 20px 0px;
  /* Center the container horizontally */
}

.voting-info p {
  margin: 5px 0;
  /* Add some margin to paragraph tags */
}

.column-left,
.column-right {
  display: flex;
  width: 45%;
  flex-direction: column;
  /* Stack the items vertically */
  align-items: flex-start;
  /* Align items to the start of each column */
}

.column-left p,
.column-right p {
  margin: 0;
  /* Remove default margin for consistent spacing */
  padding: 5px 0;
  /* Add some spacing between lines */
}

.colum-left strong,
.colum-right strong {
  font-weight: bold;
  /* Ensure the labels are bold */
}

/* Responsive design */
@media (max-width: 800px) {
  .info-section {
    flex-direction: column;
    /* Stack the info sections vertically on small screens */
  }
}

.divider-container {
  position: relative;
  text-align: center;
  margin: 20px 0;
  /* Optional: Add spacing around the divider */
}

.divider-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  /* Thickness of the line */
  border-top: 1px dashed rgb(207, 207, 239);
  /* Dashed line with blue color */
  z-index: 1;
  /* Place the line below the text */
}

.divider-text {
  position: relative;
  display: inline-block;
  background: #f9f9f9;
  /* Background color of the text to cover the line */
  padding: 0 10px;
  /* Spacing around the text */
  z-index: 2;
  /* Place the text above the line */
}

.button-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px;
  box-sizing: border-box;
  justify-content: center;
}

.fab {
  background-color: #FFFFE0;
  /* 浅黄色 */
  color: #333;
  border: none;
  /* No border */
  border-radius: 50%;
  /* Circular shape */
  width: 40px;
  /* Smaller width */
  height: 40px;
  /* Smaller height */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  /* Font size */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  /* Shadow effect */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: background-color 0.3s;
  /* Smooth background color transition */
}

.fab:hover {
  background-color: #FFFFB3;
}

/* Faucet buttons */
.faucet-btn {
  background-color: #007bff;
  /* Background color of the button */
  color: white;
  /* Text color */
  border: none;
  /* No border */
  border-radius: 4px;
  /* Rounded corners */
  padding: 10px 20px;
  /* Padding */
  font-size: 16px;
  /* Font size */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: background-color 0.3s;
  /* Smooth background color transition */
}

.faucet-btn:hover {
  background-color: #0056b3;
  /* Darker background color on hover */
}

.proposal-section {
  font-size: 18px;
  /* 设置整体字体大小 */
  margin: 20px;
  /* 增加外边距，使其与其他元素分隔开 */
}

.proposal-label {
  font-size: 18px;
  /* 调整标签的字体大小 */
  margin-right: 10px;
  /* 增加标签与选择框之间的间距 */
}

#proposal-select {
  font-size: 18px;
  /* 调整选择框的字体大小 */
  padding: 10px;
  /* 增加选择框内的填充，使其变大 */
  border: 1px solid #ccc;
  /* 设置边框样式 */
  border-radius: 4px;
  /* 设置圆角 */
  width: 80px;
  /* 设置选择框的宽度 */
}

.has-voted {
  color: lightcoral;
  /* 设置文字颜色为浅红色 */
  margin: 10px 10px 10px 200px;
  /* 设置外边距 */
}

.hidden {
  display: none;
  /* 隐藏元素 */
}

.voter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.voter-header,
.voter-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.voter-header {
  font-weight: bold;
  background-color: #4b4141;
}

.voter-item span,
.voter-item a,
.voter-header span {
  flex: 1;
  text-align: center;
}

.voter-header {
  font-weight: bold;
}

.voter-item .highlight {
  color: rgb(231, 241, 165);
  /* 或者其他高亮颜色 */
}

.voter-item .download-link {
  text-decoration: none;
}

.download-link {
  color: rgb(222, 222, 230);
  /* 设置链接的颜色 */
  text-decoration: #4caf50;
  /* 添加下划线 */
}

.highlight {
  color: rgb(228, 240, 139);
  /* 设置高亮文字的颜色 */
}

.voting-dapp {
  display: flex;
  align-items: center;
}

.voting-dapp h1 {
  padding-left: 60px;
  margin: 0;
  padding-right: 10px;
}

.voting-dapp .etherscan-icon {
  margin-top: 10px;
  width: 80px;
  /* 根据需要调整图标大小 */
}

.voting-dapp-container {
  display: flex;
  justify-content: center;
  /* 居中对齐 */
}

.tooltip-content {
  user-select: text; /* 允许文本选择 */
  cursor: text; /* 将鼠标光标设置为文本选择状态 */
}

.swal2-html-container li {
  background-color: #ededff;
}


.network-info, .account-info, .voting-info {
  background-color: #f9f9f9;
  color: #333; /* Dark text color for better readability */
}

.voting-info {
  background-color: #e0f7fa;
  color: #333; /* Ensure high contrast */
}

.container {
  display: flex;
  justify-content: center; /* Center child elements horizontally */
}

.proposal-section {
  display: flex;
  align-items: center; /* Vertically center items */
  gap: 10px; /* Space between label and select */
}


.select {
  padding: 5px;
  font-size: 16px;
}

.vote-buttons button {
  margin: 5px;
}

.vote-buttons .button.is-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added shadow for better visibility */
}

.vote-buttons .button.is-primary:disabled {
  background-color: #ccc;
  color: #666; /* Darker color for disabled state */
  cursor: not-allowed;
}

.voter-list {
  list-style-type: none;
  padding: 0;
  max-height: 200px; /* Limit height to show scrollbar */
  overflow-y: auto;
}

.voter-list li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  color: #ede5e5; /* Ensure text color has good contrast */
}

.proposal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.proposal-loader {
  color: white;
  font-size: 18px;
}